<!DOCTYPE HTML>
<html lang="es" ng-app="banco">	
	<head>
		<title>Banco</title>
		<meta charset="utf-8" />
        <link rel="stylesheet" href="css/bootstrap.css" />
		<link rel="stylesheet" href="css/bootstrap.min.css" />
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
	</head>
	<body >
        <header class="container" >
           <br>
            <br>
            <h1>Movimientos cliente</h1>
            <input class="linea" disabled>
            
        </header>
        
      <section class="container">
      <form  ng-controller="MovimientoController" ng-submit="submitForm()">
          <div class="form-group" >
              <label for="example-text-input" class="col-sm-2 control-label">Nombre Movimiento</label>
              <div class="col-sm-10">
              <input class="form-control" name="desc_mov" ng-model="movimiento.desc_mov" type="text"  id="example-text-input">
              </div>
         
          <div class="form-group">
             <label for="example-text-input" class="col-sm-2 control-label">Tipo Movimiento</label>
            <select name="cars" class="form-control" name="tipo_mov" ng-model="movimiento.tipo_mov">
                <option value="DEB">DEB</option>
                <option value="CRE">CRE</option>
            </select>
          </div>
          
          <div class="form-group" >
              <label for="example-text-input" class="col-sm-2 control-label">Valor Movimiento</label>
              <div class="col-sm-10">
              <input class="form-control" name="valor_mov" ng-model="movimiento.valor_mov" type="text"  id="example-text-input">
              </div>
          </div>

          <div class="form-group" id="primerBoton">
              <button type="submit" class="btn btn-primary btn-sm my-0">Crear Movimiento</button>
          </div>
          
      </form>
         <!--Table-->
 <table class="table table-bordered tabla" ng-controller="BancoController as banco">
    
    <!--Table head-->
    <thead>
        <tr>
            <th>Nombre Movimiento</th>
            <th>Tipo Movimiento</th>
            <th>Valor movimiento</th>
            <th>Fecha Registro</th>
            <th>Acción</th>
        </tr>
    </thead>
    <!--Table head-->

    <!--Table body-->
    <tbody ng-repeat="movimiento in banco.movimientos">

       <tr>
          <!--  <th scope="row"></th>   -->
            <td>{{movimiento.STR_NOMBRE_MOVIMIENTO}}</td>
            <td>{{movimiento.STR_TIPO_MOVIMIENTO}}</td>
            <td>{{movimiento.NUM_VALOR_MOVIMIENTO}}</td>
            <td>{{movimiento.DTM_FECHA_REGISTRO}}</td> 
            <td id="eliminar"><button type="button" class="btn btn-primary btn-sm my-0" ng-click="deleteData(movimiento.NUM_ID_MOVIMIENTO)" >Eliminar</button></td>
        </tr>




     <!--   <tr>
            <th scope="row"></th> 
            <td>{{movimiento.STR_NOMBRE_MOVIMIENTO}}</td>
            <td>{{movimiento.STR_TIPO_MOVIMIENTO}}</td>
            <td>{{movimiento.NUM_VALOR_MOVIMIENTO}}</td>
            <td>{{movimiento.DTM_FECHA_REGISTRO}}</td> 
            <td id="eliminar"><button type="button" class="btn btn-primary btn-sm my-0" >Eliminar</button></td>
        </tr>
      
        <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
             <td id="eliminar"><button type="button" class="btn btn-primary btn-sm my-0" >Eliminar</button></td>
        </tr>
-->
    <div id="test">
      

    </div>   
       
    </tbody>
    <!--Table body-->

</table>
<!--Table-->
     </section>
        


       <script type="text/javascript" src="js/bootstrap.min.js"></script>
	</body>
</html>




<!-- entrada los valores: desc_mov, tipo_mov, valor_mov.
 Los valores que recibe tipo movimiento deben ser DEB (Debito) o CRE (Crédito). -->